  <div class="delete-booking">

         <p>{{formatDate date}}</p>
        <p>{{time}}</p>
        <p>{{service}}</p>
        <p>{{cleanerName}}</p>

      <h4>Vill du avboka denna städningen?</h4>
   
    <form action="/{{_id}}/delete" method="post" class="delete-form">
      <input type="submit" value="Avboka" id="delete-btn"/>
    </form>
    </div>