<h2> {{username}} </h2>

{{#each userBookings}}

  <div class="all-bookings">

    {{#if notDone}}

      <h3>Kommande städningar</h3>

      <div class="upcoming-bookings">

        <p>{{formatDate date}}</p>
        <p>{{time}}</p>
        <p>{{service}}</p>
        <p>{{cleanerName}}</p>

      </div>

      <div class="delete">
        <a href="/{{_id}}/delete">Delete</a>
      </div>

    {{else}}

      <div class="finished-bookings">

        <h3>Färdiga städningar</h3>

        <p>{{date}}</p>
        <p>{{type}}</p>

        {{#if approved}}
          <p>Godkänd</p>
        {{else}}
          <p>Icke godkänd</p>
        {{/if}}

      </div>

    {{/if}}

  </div>

{{/each}}